<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    {%load static %}
    <link rel = "stylesheet" href = "{% static 'welcome_page/style2.css'%}">
</head>
<body>
    <h1>Thanks for applying!</h1>
    <h2>One of our leaders will send you an email.</h2>
    <button onclick = "window.location.href = 'http://127.0.0.1:8000/welcome_page'">Return to welcome page. </button>

    
</body>
</html>