html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #14d26a;
    
    
}

main{
    background-color: rgba(5, 129, 60, 0.772);
}

/* General setup */

html,body{
    margin: 0;
    padding: 0;
}

html{
    background-color: #14d26a;

}
h1{
    display: inline;
    text-align: center;
    justify-content: center;
}

div{
    text-align: center;
}

body{
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

p{
    font-size: larger;
}



nav{
    display: block;
    font-size: 20px;
}

ul{
    text-align: center;
}

li{
    display: inline;
    margin: 60px;
}



.Join-us

header, main, footer{
    background-color: rgba(5, 129, 60, 0.772);
}
h2{
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.Join-us > ul{
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.Join-us{
    min-height: 30vh;
   align-items: center;
   max-height: 60vh;
    
}
.perks{
    display:block;
    margin: auto;
    list-style-type: disc;
}



/* Typography */


  /* Main Layout */
  